#!/usr/bin/make -f

SHELL := /bin/bash

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifeq (,$(filter noudeb, $(DEB_BUILD_PROFILES)))
  with_udeb = yes
endif

override_dh_autoreconf:
	ln -fs /usr/share/gettext/config.rpath $(CURDIR)
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- -Ddefault_library=both $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/fuse3/bin/fusermount3

override_dh_install:
	# remove unused files
	rm -f debian/tmp/etc/init.d/fuse3
	rm -rf debian/tmp/etc/udev/
	rm -f  debian/tmp/usr/lib/*/*.la
	fdupes -qnrps debian/tmp/usr/share/doc

	dh_install

	# adjusting /lib for multiarch
	mkdir -p debian/libfuse3-3/lib/$(DEB_HOST_MULTIARCH)
	mv debian/libfuse3-3/lib/*.so* debian/libfuse3-3/lib/$(DEB_HOST_MULTIARCH)
ifeq ($(with_udeb),yes)
	mkdir -p debian/libfuse3-3-udeb/lib/$(DEB_HOST_MULTIARCH)
	mv debian/libfuse3-3-udeb/lib/*.so* debian/libfuse3-3-udeb/lib/$(DEB_HOST_MULTIARCH)
endif	

override_dh_link:
	# correcting symlink targets
	for LIB in debian/tmp/usr/lib/*/*.so; \
	do \
		dh_link -plibfuse3-dev lib/$(DEB_HOST_MULTIARCH)/$$(basename $$(readlink $${LIB})) usr/lib/$(DEB_HOST_MULTIARCH)/$$(basename $${LIB}); \
	done

	dh_link --remaining-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh ${@}
